<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <title>
   Financial Plan System
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body class="bg-gray-200">
  <!-- Header -->
  <div class="bg-gray-100 p-4 flex justify-between items-center">
   <div class="flex items-center">
    <img alt="Logo" class="mr-2" height="40" src="https://storage.googleapis.com/a1aa/image/6ZZxf5km62BwSlz0yepmR9m7BNJmF_KarQTjv0j8DgU.jpg" width="40"/>
    <span class="text-lg font-bold">
     FINANCIAL PLAN SYSTEM
    </span>
   </div>
   <div class="flex items-center">
    <div class="text-right mr-2">
     <div th:text="${user.name}">
      User Name
     </div>
     <div class="text-sm text-gray-500" th:text="${user.role}">
      User Role
     </div>
    </div>
    <i class="fas fa-user ml-2">
    </i>
   </div>
  </div>
  <!-- Navigation -->
  <div class="bg-gray-300 p-2 flex justify-center">
   <nav class="flex space-x-8">
    <a class="text-black" href="#">
     Home
    </a>
    <a class="text-black" href="#">
     Financial plan
    </a>
    <a class="text-black" href="#">
     Financial Report
    </a>
    <a class="text-black" href="#">
     Term Management
    </a>
    <a class="text-black" href="#">
     User Management
    </a>
   </nav>
  </div>
 </body>
</html>
